services:
  filebeat:
    image: docker.elastic.co/beats/filebeat:{{ elastic_version }}
    container_name: filebeat
    user: root
    command: ["filebeat", "-e", "--strict.perms=false"]
    volumes:
      - /opt/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/log/nginx:/var/log/nginx:ro
      - filebeat-data:/usr/share/filebeat/data
    restart: unless-stopped

volumes:
  filebeat-data:
